<div class="container-fluid reportPage">
    <h1><u>Reports on review:</u></h1>
    <p *ngIf="loading" class="text-center text-lg">
        Loading...
    </p>
    
    <div  class="row" *ngFor="let report of reportsOnReview$ | async ; let i = index">
        <div class="col reportElem">
            <app-report-elem [report] = report></app-report-elem>
        </div>
    </div>
    


    <h1><u>Completed:</u></h1>
    <p *ngIf="loading" class="text-center text-lg">
        Loading...
    </p>
    
    <div  class="row" *ngFor="let report of reportsCompleted$ | async ; let i = index">
        <div class="col reportElem">
            <app-report-elem [report] = report></app-report-elem>
        </div>
    </div>

    
    

</div>