<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<button type="button" class="btn fa fa-star checked" (click)="ratePhoto(1)"></button>
<button type="button" class="btn fa fa-star checked" (click)="ratePhoto(2)"></button>
<button type="button" class="btn fa fa-star checked" (click)="ratePhoto(3)"></button>
<button type="button" class="btn fa fa-star checked" (click)="ratePhoto(4)"></button>
<button type="button" class="btn fa fa-star checked" (click)="ratePhoto(5)"></button>