<div class="container-fluid photoElemContainer">
    <div class="row">
        <div class="col-md-12" >
            <a [routerLink]="['/photo',photo.id]">
                <img [src] = "'/assets/images/db/'+photo.photoPath"  class = "photoImg">
            </a>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md photoDetails textNoLinkStyle">
            <div class="descriptionDiv">
                <b>Title:</b> {{photo.title}}<br>
                <b>Uploaded By:</b> {{photo.userName}} <b>On: </b>({{photo.uploadDate.toLocaleString().split('T')[0]}})<br>
           
            </div>
            <div class="descriptionDiv"><b>Description:</b> {{photo.description}}</div>


            <br>
            <div class="reactions" *ngIf="accountService.userId!=photo.userId">
                <b>Feedback: <br></b>
                <div class="reactionsDiv">
                    <button class="btn btn-link feedBackButton" (click)="modalsService.openReport()">
                        <img height="20px" src="assets/icons/report-flag-icon.png" alt="Report photo">
                    </button>
                    <button class="btn btn-link feedBackButton" (click)="modalsService.openAlbum()">
                        <img height="20px" src="assets/icons/file-new-icon.png" alt="Add to your album" >
                    </button>
                    <div class="container ratingDiv">
                        <span id="rateMe2"  class="empty-stars">1</span>
                      </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>