.photoImg{
    width:100%;
    max-width: 600px;
    max-height: 600px;
    margin:5px 5px -5px;
    border: 2px solid #B0A295;
    border-radius: 3em 6em 0px 0px;
}
.fit-content-class{
    padding: 0px 0px 0px 0px;
}
.photoDetails{
    background-color: #938E94;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 100%;
    border-radius: 0em 0em 3em 6em;
}

.textNoLinkStyle{
    color: #05396B;
    text-decoration: none;
}

.photoElemContainer{
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}

.descriptionDiv{
    width:100%;
    height: 6ch;
    margin-right:0px;
    overflow: hidden;
    text-align: center;
}

.feedBackButton{
    margin:0px 15px 0px 15px;
    border: 1px solid black;
    border-radius: 50%;
}

.reactionsDiv>*{
    display: flex;
}

.reactionsDiv{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    
}

.reactions{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}