<div class="container-fluid uploadPhotoPage">
    <form [formGroup]="form"  novalidate>
        <div>
            <label>Title: </label>
            <input type="text" name="title" formControlName="title">
            <div class="validationFailed" *ngIf="form.controls['title'].invalid"> Title is not valid</div>
        </div><br>
        <div>
            <label>Description: </label>
            <input type="text" name="description" formControlName="description">
            <div class="validationFailed" *ngIf="form.controls['description'].invalid"> Description is not valid</div>
            
        </div><br>

        <app-file-upload formControlName="image"></app-file-upload>
        <div class="validationFailed" *ngIf="form.controls['image'].invalid"> Image is not valid</div><br>
         
        <div>
            <label>Add tags: </label>
            <input type="text" name="tags" formControlName="tags">
            <div class="validationFailed" *ngIf="form.controls['tags'].invalid"> Tags are not valid</div>
            
        </div><br>
        <button (click)="uploadPhoto()">Confirm</button>
           
    </form>
</div>