<div class="container-fluid albumPhotoContainer" *ngIf="album$ | async as album">
    <div class="albumInfo rounded">
        <u>Title:</u>  {{album.title}}<br><br>
        ({{album.numberOfPictures}}) Pictures<br><br>
        <u>Description:</u>  {{album.description}}<br><br>
        <u>Created at:</u>  {{album.creationDate.toLocaleString().split('T')[0]}}<br>
    </div>


    <div class="row photosDiv d-flex justify-content-center">
        <div class="col-12">
            <div class="row d-flex justify-content-center" *ngIf="photos$ | async">
                <div class="col-lg-5 photoElementDiv" *ngFor="let photo of photos$ | async ; let i = index">
                    <app-photo-elem [photo] = "photo" [modalsService]="modalsService"></app-photo-elem>
                </div>
                
            </div>
            
        </div>
    </div>



</div>